# --- 基礎 API 服務 (從預設 PyPi 下載) ---
flask
gunicorn
pandas
numpy
joblib
scikit-learn
requests
firebase-admin

# --- 深度學習模型 (指定從 PyTorch CPU 鏡像下載) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torch-geometric
